@using System.Security.Claims
@inject IHttpContextAccessor httpContentAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - auth5</title>
    @{
        var theme = httpContentAccessor.HttpContext.Request.Cookies["theme"];
        if (theme == null)
        {
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        }
        else
        {
            if (theme.ToString() == "light")
            {
                <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
            }
            else if (theme.ToString() == "dark")
            {
                <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-dark.css"/>
            }
        }
    }
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/auth5.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">auth5</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @{
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            @{
                                if(User.IsInRole("admin")){
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Usermgmt">User management</a>
                                    </li>
                                }
                            }
                            @{
                                if(User.IsInRole("admin") || User.IsInRole("user")){
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="MyPage">Personal Page</a>
                                    </li>
                                }
                            }
                        </ul>
                        if(User.IsInRole("admin") || User.IsInRole("user"))
                        {
                            <ul class="navbar-nav d-flex justify-content-end">
                                <li class="nav-item" style="margin-top: 1em; margin-right: 1em;">
                                    <div class="nav text-dark">@User.FindFirst(x => x.Type == ClaimsIdentity.DefaultNameClaimType).Value</div>
                                </li>
                                <li class="nav-item">
                                    <a class="btn btn-primary" id="logout" asp-area="" asp-action="Logout" asp-controller="Account">Logout</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="navbar-nav d-flex justify-content-end flex-grow-1">
                                <li class="nav-item">
                                    <a  asp-action="Login" asp-controller="Account" class="btn btn-primary">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-action="Register" asp-controller="Account" class="btn">Register</a>
                                </li>
                            </ul>
                        }
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div style="bottom:0;position: fixed; width:100%;">
        <hr style="width:100%;" />
        <footer>
            <ul class="navbar-nav d-flex justify-content-start flex-grow-1" style="margin-bottom:10px;margin-left:10px;">
                <li class="nav-item">
                    @{
                        var thm = httpContentAccessor.HttpContext.Request.Cookies["theme"];
                        if (thm == null)
                        {
                            <a  asp-action="SwitchTheme" asp-controller="Home" class="btn btn-primary" asp-route-id="1">Switch Theme</a>
                        }
                        else
                        {
                            if (thm.ToString() == "light")
                            {
                                <a  asp-action="SwitchTheme" asp-controller="Home" class="btn btn-primary" asp-route-id="1">Switch Theme</a>
                            }
                            else if (thm.ToString() == "dark")
                            {
                                <a  asp-action="SwitchTheme" asp-controller="Home" class="btn btn-primary" asp-route-id="0">Switch Theme</a>
                            }
                        }
                    }
                </li>
            </ul>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
