@using System.Security.Claims
@model IEnumerable<auth5.Models.Message>
@{
    ViewData["Title"] = "Messages";
}
<h1>@ViewData["Title"]</h1>

@foreach (var item in Model)
{
    <div  class="form-control" style="border-radius: 25px; border-color: #778899; width: 50%; margin-bottom: 1em;">
        <div>Sender: @item.Sender.Email</div>
        <div>Sent: @item.PostTime</div>
        <div>
            <textarea disabled class="form-control msg" style="margin-top: 1em; margin-bottom: 1em;" rows="5"> @item.Text</textarea>
        </div>
    </div>
    <div> </div>
}